@model List<object>

@{
    ViewBag.Title = "Edit";
    var journal = Model[0] as Journal;
    var comptes = Model[1] as List<PlanComptable>;
}

<form method="post" id="editJournalForm">
    @Html.AntiForgeryToken()
    <br>
    <div class="card card-warning mx-auto" style="width:60%">
        <div class="card-header">
            <h3 class="card-title"><b>Journal/Detail</b></h3>
            <a href="/Journals/Index" class="btn btn-tool mt-0" style="float:right"><i class="fas fa-times"></i></a>
        </div>
        <!-- /.card-header -->
        <!-- form start -->

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label col-md-12" for="CodeJournal">Code Journal</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control text-box single-line" disabled="disabled" id="CodeJournal" name="CodeJournal" type="text" value="@journal.CodeJournal">
                            <span class="field-validation-valid text-danger" data-valmsg-for="CodeJournal" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label col-md-12" for="Libelle">Libelle</label>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control text-box single-line" data-val="true" data-val-length="150 caractéres" data-val-length-max="150" data-val-required="*" id="Libelle" name="Libelle" type="text" value="@journal.Libelle">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Libelle" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <input class="check-box" data-val="true" data-val-required="The Ouverture field is required." id="Ouverture" name="Ouverture" type="checkbox" @(journal.Ouverture ? "checked" : "")>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Ouverture" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <label class="control-label col-md-12" for="Ouverture">Ouverture</label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="checkbox">
                                <input class="check-box" data-val-required="The Tresorerie field is required." id="Tresorerie" name="Tresorerie" type="checkbox" @(journal.Tresorerie ? "checked" : "")>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Tresorerie" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <label class="control-label col-md-12" for="Tresorerie">Tresorerie</label>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-10">
                        <div class="row">

                            <div class="col-md-2">
                                <div class="checkbox">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="AutoriserControle" data-valmsg-replace="true"></span>
                                    <input class="check-box" data-val="true" data-val-required="The AutoriserControle field is required." id="AutoriserControle" name="AutoriserControle" type="checkbox" @(journal.AutoriserControle ? "checked" : "")>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <label class="control-label col-md-12" for="AutoriserControle">AutoriserControle</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col">
                            <b>Numero du compte</b>
                        </div>
                        <div class="form-group">
                            <select class="form-control" data-val="true" data-val-required="Ce champe est obligatoire" id="NumeroCompte" name="NumeroCompte" @(journal.AutoriserControle?"":"disabled")>
                                @foreach (var compte in comptes)
                                {
                                    <option value="@compte.NumeroCompte" @(journal.NumeroCompte.Equals(compte.CodeSociete) ? "selected" : "")>@compte.NumeroCompte - @compte.Libelle</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="card-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="submitButton" value="Edit" class="btn btn-outline-warning">

            </div>
        </div>

    </div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/FrontEND/plugins/sweetalert2/sweetalert2.all.js"></script>
    <script>
        $(document).on('click', '#submitButton', function () {
            if (validateForm()) {
                var postForm = $('#editJournalForm').serializeArray();

                postForm.find((object, index) => {
                    if (object.name == 'Ouverture') {
                        postForm[index].value = true;
                    }
                    if (object.name == 'Tresorerie') {
                        postForm[index].value = true;
                    }
                    if (object.name == 'AutoriserControle') {
                        postForm[index].value = true;
                    }
                });

                postForm.push({ name: 'CodeJournal', value: $('#CodeJournal').val() });
                $.ajax({
                    url: '@Url.Action("edit")',
                    type: 'post',
                    data: postForm,
                    success: function (result) {
                        if (result == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Succés',
                                text: 'Journal modifié avec succés!'
                            }).then(() => location.href = '@Url.Action("index")');
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Erreur',
                                text: 'Une erreur s\'est produite, contactez l\'administrateur!'
                            });
                        }
                    }
                });
            }
        });

        $(document).on('change', '#AutoriserControle', function () {
            if ($(this).prop('checked')) {
                $('#NumeroCompte').prop('disabled', false);
            }
            else {
                $('#NumeroCompte').prop('disabled', true);
            }
        });

        function validateForm() {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });

            if ($('#Libelle').val() == '') {
                Toast.fire({
                    icon: 'error',
                    title: 'Libelle obligatoire!'
                });
                return false;
            }

            return true;
        }
    </script>
}