@{
    ViewBag.Title = "Create";
}

<form action="/PlanComptables/Create" method="post" id="AddPlanComptableForm" novalidate="novalidate">
    @Html.AntiForgeryToken()
    <br>
    <div class="card card-success cardWidth mx-auto">
        <div class="card-header">
            <h3 class="card-title"><b>Ajouter plan Comptable</b></h3>
            <a href="@Url.Action("index")" class="btn btn-tool mt-0" style="float:right"><i class="fas fa-times"></i></a>
        </div>
        <!-- /.card-header -->
        <!-- form start -->

        <div class="card-body">


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-8" for="NumeroCompte">NumeroCompte</label>
                        <div>
                            <input class="form-control text-box single-line" data-val="true" data-val-length="200 caractéres" data-val-length-max="200" data-val-required="Ce champ est obligatoire" id="NumeroCompte" name="NumeroCompte" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="NumeroCompte" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8" for="Libelle">Libelle</label>
                        <div>
                            <input class="form-control text-box single-line" data-val="true" data-val-length="200 caractéres" data-val-length-max="200" data-val-required="Ce champ est obligatoire" id="Libelle" name="Libelle" type="text" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Libelle" data-valmsg-replace="true"></span>
                        </div>
                    </div>


                </div>
                <div class="col-md-2">
                    &nbsp;
                </div>
                <div class="col-md-4">

                  <label>Type de compte</label>
                  
                        <div>
                            <input type="radio" id="TypeCompte1" name="TypeCompte" value="r"
                                   checked>
                            <label for="TypeCompte1">Racine</label>
                        </div>

                        <div>
                            <input type="radio" id="TypeCompte2" name="TypeCompte" value="a">
                            <label for="TypeCompte2">Auxiliaire</label>
                        </div>

                        <div>
                            <input type="radio" id="TypeCompte3" name="TypeCompte" value="m">
                            <label for="TypeCompte3">Mouvement</label>
                        </div>
                  


                </div>

            </div>
        </div>
        <div class="card-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" id="submitButton" value="Create" class="btn btn-outline-success">
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/FrontEND/plugins/sweetalert2/sweetalert2.all.js"></script>
    <script>
        $(document).on('click', '#submitButton', function () {
            if (validateForm()) {
                var postForm = $('#AddPlanComptableForm').serializeArray();
                $.ajax({
                    url: '@Url.Action("create","plancomptables")',
                    type: 'post',
                    data: postForm,
                    success: function (result) {
                        if (result == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Succés',
                                text: 'Plan comptable ajouté avec succés!'
                            }).then(() => location.href = '@Url.Action("index")');
                        }
                        else {
                            if (result == 'exists') {
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Erreur',
                                    text: 'Un plan comptable avec le même numéro de compte existe déja!'
                                });
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Erreur',
                                    text: 'Une erreur s\'est produite, contactez l\'administrateur!'
                                });
                            }
                        }
                    }
                });
            }
        });

        function validateForm() {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });

            if ($('#NumeroCompte').val() == '') {
                Toast.fire({
                    icon: 'error',
                    title: 'Numéro compte obligatoire!'
                });
                return false;
            }

            if ($('#Libelle').val() == '') {
                Toast.fire({
                    icon: 'error',
                    title: 'Libelle obligatoire!'
                });
                return false;
            }

            return true;
        }
    </script>
}